# This folder serves as a permanent home for Dagster runs and assets
DAGSTER_HOME=${PWD}/.dagster_home

TIMEZONE=America/New_York
TEMPERATURE_UNIT=fahrenheit
PRECIPITATION_UNIT=inch

# Always keep the order of weather variables in hourly or daily as below. Don't set an environment variable to anything to specify that no weather variables of a certain frequency are to be fetched. 
HOURLY_WEATHER_VARS=
DAILY_WEATHER_VARS=sunrise,sunset,temperature_2m_max,temperature_2m_min,rain_sum,snowfall_sum,precipitation_hours

# Either specify start and end dates (formatted as "%Y-%m-%d") here, or don't set them to anything to use the oldest and newest dates in the crash dataset
START_DATE=2012-07-01
END_DATE=2026-04-27